{% extends 'SadminBundle::layout_dashboard.html.twig' %}

{% block main %}
	<h1 class="page-header">Profesores</h1>
	<div class="box box-primary">
		<div class="box-body table-responsive no-padding">
			<table id="my-table" class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th data-dynatable-column="id">Código</th>
						<th data-dynatable-column="nomb_pais">Pais</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>		
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	(function() {
		$(document).ready(function() {
			$.ajax({
				url: "{{ path('get_regions') }}.json",
				success: function(data) {
					$('#my-table').bind('dynatable:preinit', function(e,  dynatable) {
					}).dynatable({
						 features: {
				            paginate: true,
				            sort: true,
				            pushState: false,
				            search: true,
				            recordCount: true,
            				perPageSelect: true
				        },
			            table: {
			                defaultColumnIdStyle: 'trimDash',
							headRowClass: 'line-table'
			            },
			            dataset: {
			               /* ajax: true,
			                ajaxUrl: "{{ path('get_regions') }}.json",
			                ajaxOnLoad: true,*/
			                records: data,

				            perPageDefault: 5,
		            		perPageOptions: [5, 10, 20, 50, 100],
		            		ajaxData: {
		            			response: 'records',
		            			query_count: 'queryRecordCount',
            					total_count: 'totalRecordCount'
		            		}
			            },
			            inputs: {
            				queryEvent: 'blur change keyup',
				            paginationPrev: 'Anterior',
				            paginationNext: 'Próximo',

            				perPageText: 'Mostrar: ',
            				recordCountText: 'Mostrando ',
            				processingText: 'Procesando...'
			            },
			            param: {
			            	perPage: 'limit',
							queries: 'filters',
							sorts: 'order_by',
							records: 'records'

			            }
			        });
				}
			});
			

			
		});
	})();

	</script>
{% endblock %}