{% extends "SadminBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
		
	<link href="{{ asset('bundles/sadmin/css/signin.css') }}" rel="stylesheet">	

{% endblock %}

{% block main %}


	<form action="{{ url('sadmin_dashboard') }}" class="form-signin" role="form">
	    <h2 class="form-signin-heading">Iniciar Sesión</h2>
	    <input type="text" class="form-control" placeholder="Nombre de usuario" required autofocus>
	    <input type="password" class="form-control" placeholder="Contraseña" required>
	    <label class="checkbox">
	      	<input type="checkbox" value="remember-me"> No cerrar sesión
	    </label>
	    <button class="btn btn btn-primary btn-block" type="submit">Acceder</button>

	</form>

	
{% endblock %}