{% extends "SadminBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
		
	<link href="{{ asset('bundles/sadmin/css/signin.css') }}" rel="stylesheet">	

{% endblock %}

{% block main %}

	<form action="{{ url('sadmin_dashboard') }}" class="form-signin" role="form">
	    <h2 class="form-signin-heading">Recordar Contraseña</h2>
	    <input type="text" class="form-control" placeholder="Correo electrónico" required autofocus>
	    
	    <button class="btn btn btn-primary btn-block" type="submit">Recordar</button>

	</form>

	
{% endblock %}